:local(.user_list) {

  grid-area: list;

  td {
    text-align: center;
  }

  thead > tr > th {
    padding: 5px;
  }

  a {
    color: rgb(0, 204, 255);
    text-decoration: underline;
  }

  a:hover {
    cursor: pointer;
  }
}